- content_for :note_actions do
  - if can?(current_user, :update_merge_request, @merge_request)
    - if @merge_request.open?
      = link_to 'Close', merge_request_path(@merge_request, merge_request: {state_event: :close }), method: :put, class: "btn btn-grouped btn-close close-mr-link js-note-target-close", title: "Close merge request"
    - if @merge_request.closed?
      = link_to 'Reopen', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: "btn btn-grouped btn-reopen reopen-mr-link js-note-target-reopen", title: "Reopen merge request"

= render 'shared/show_aside'

.gray-content-block.middle-block.oneline-block
  .row
    .col-md-9
      .votes-holder.pull-right
        #votes= render 'votes/votes_block', votable: @merge_request
      = render "shared/issuable/participants"
    .col-md-3
      .input-group.cross-project-reference
        %span#cross-project-reference.slead.has_tooltip{title: 'Cross-project reference'}
          = cross_project_reference(@project, @merge_request)
        = clipboard_button(clipboard_target: 'span#cross-project-reference')

.row
  %section.col-md-9
    .voting_notes#notes= render "projects/notes/notes_with_form"
  %aside.col-md-3
    .issuable-affix
      .context
        = render 'shared/issuable/context', issuable: @merge_request
